// header.scss

#app-header {
  .jh-navbar {
    background-color: #ffffff; // Match the title bar color
    width: 100%; // Ensure full width
    .navbar-logo {
      height: 40px; // Adjust the height as needed
      margin-right: 20px; // Adjust the margin as needed
      margin-top:-50px;
    }
    .navbar-nav .nav-link {
      color: #0c0c3d;
      &:hover {
        color: #ddd;
      }
    }
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.1);
    }
    .dropdown-menu {
      background-color: #343a40;
      .dropdown-item {
        color: #fff;
        &:hover {
          background-color: #495057;
          color: #fff;
        }
      }
    }
    .navbar-button {
      margin: 0 5px;
      color: #fff;
      background-color: #007bff;
      border: none;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.app-container {
  padding-top: 0; // Remove extra padding from the top
}

.loading-bar {
  position: fixed;
  width: 100%;
  z-index: 1031;
}

.compte-nav {
  margin-right: 20px; // Adjust the value to move the "Compte" tab to the left
  margin-top:-50px;
}



